extends base

block content 
    h4 Upadte Video
    form(method="POST")
        //- name 속성 => req.body의 key값
        input(name="title" placeholder="Video Title", value=video.title, required)
        input(name="description"  placeholder="Description", value=video.description, required, type="text", minLength=20)
        input(name="hashtags"  placeholder="Hashtags, seperated by comma", value=video.hashtags.join(), required, type="text")
        input(value="Save", type="submit")