extends base

block content 
    div 
        p=video.description
        small=video.createdAt
    //- 상대경로
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    //- 절대경로
    //- a(href="/edit") Edit Video &rarr;
    a(href=`${video.id}/delete`) Delete Video &rarr;
